<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Frm_Registrar_Caso_De_Uso.My.MySettings.BD_PROYECTO_VBConnectionString"
            connectionString="Data Source=DENNIS;Initial Catalog=BD_PROYECTO_VB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>